.main {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main img{
    width: 30vw;
    position: absolute;
    display: none;
    transform: translateX(-50%) translateY(-50%);;
}